<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body style="background-color:green;">
<h1><center>LOGIN HERE</center></h1>
<form align="center"width="auto" method='POST',action="login" >
    {% csrf_token %}
     <label for="uname"><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter ur Username"><br>
     <label for="pwd"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter ur Password"><br>
    <input type="submit" name="SUBMIT">

</form>
</body>
</html>